<div id="agentydragon-card">
<div id="agentydragon-content">
  Translate to color stripes:
  <div class="render-as-resistor color-bands-question digits-on" data-digits="{{Digits}}"></div>
</div>
</div>
