<div id="agentydragon-card">
<div id="agentydragon-content">
{{German}}{{#Audio}}{{Audio}}{{/Audio}}<br/>
{{#German Alternatives}}<div class="alts">{{German Alternatives}}</div>{{/German Alternatives}}
{{#Sample sentence}}<div class="sentence">{{Sample sentence}}</div>{{/Sample sentence}}
{{#Plural and inflected forms}}<div class="plural">Plural: {{Plural and inflected forms}}{{#Plural and inflected forms Alternatives}}, {{Plural and inflected forms Alternatives}}{{/Plural and inflected forms Alternatives}}{{#Plural and inflected forms Hidden Alternatives}}, {{Plural and inflected forms Hidden Alternatives}}{{/Plural and inflected forms Hidden Alternatives}}</div>{{/Plural and inflected forms}}

<hr id="answer">

{{English}}{{#Part of Speech}}<sup class="attrs">({{Part of Speech}})</sup>{{/Part of Speech}}
<br/>
{{#Picture}}{{Picture}}<br/>{{/Picture}}
{{#English Alternatives}}<div class="alts">{{English Alternatives}}</div>{{/English Alternatives}}
{{#English Hidden Alternatives}}<div class="alts">{{English Hidden Alternatives}}</div>{{/English Hidden Alternatives}}
</div>
</div>
