<div id="agentydragon-card">
<div id="agentydragon-content">
{{German}}{{#Audio}}{{Audio}}{{/Audio}}<br/>
{{#German Alternatives}}<div class="alts">{{German Alternatives}}</div>{{/German Alternatives}}
{{#Sample sentence}}<div class="sentence">{{Sample sentence}}</div>{{/Sample sentence}}
{{#Plural and inflected forms}}<div class="plural">Plural: {{Plural and inflected forms}}{{#Plural and inflected forms Alternatives}}, {{Plural and inflected forms Alternatives}}{{/Plural and inflected forms Alternatives}}{{#Plural and inflected forms Hidden Alternatives}}, {{Plural and inflected forms Hidden Alternatives}}{{/Plural and inflected forms Hidden Alternatives}}</div>{{/Plural and inflected forms}}
</div>
</div>
