<div id="agentydragon-card">
  <div id="agentydragon-content">
    <table>
      <tbody>
        <tr>
	  <th>Buffer before:</th>
	  <td><pre>{{Buffer before}}</pre></td>
	</tr>
	<tr>
	  <th>Keys:</th>
	  <td><span id="shortcut-code">{{Keys}}</span></td>
	</tr>
	<tr>
	  <th>Buffer after:</th>
	  <td><pre>{{Buffer after}}</pre> </td>
	</tr>
      </tbody>
    </table>
    {{Extra}}
  </div>
</div>
