<div id="agentydragon-card">
  <div id="agentydragon-content">
    <table>
      <tbody>
        <tr>
	  <th>Buffer before:</th>
	  <td><pre>{{Buffer before}}</pre></td>
	</tr>
	<tr>
	  <th>Keys:</th>
	  <td>
	    <!-- TODO(prvak): would be nice to make this consistent with Cloze style -->
	    ???
	  </td>
	</tr>
	<tr>
	  <th>Buffer after:</th>
	  <td><pre>{{Buffer after}}</pre> </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
