<div id="agentydragon-card">
<div id="agentydragon-content">
{{#Program}}<h1>{{Program}}</h1>{{/Program}}
{{#Program mode}}<h2>{{Program mode}}</h2>{{/Program mode}}
<span id="shortcut-code">{{Shortcut}}</span>
<span id="shortcut"></span>
<hr id="answer">

{{Effect}}

{{#Extra}}<br><br>{{Extra}}{{/Extra}}
{{#Mnemonic}}<br><br>{{Mnemonic}}{{/Mnemonic}}
</div>
</div>

