<div id="agentydragon-card">
<div id="agentydragon-content">
  <div class="render-as-resistor color-bands-on digits-on" data-digits="{{Digits}}"></div>
  <div>Resistance value: <b>{{Value}}</b></div>
  {{#Tolerance}}
  <div>Tolerance: ±{{Tolerance}}%</div>
  {{/Tolerance}}
</div>
</div>
