<div id="agentydragon-card">
<div id="agentydragon-content">
  <div class="render-as-resistor color-bands-on no-lettering" data-digits="{{Digits}}"></div>
  <div>Resistance value: <b>???</b></div>
  {{#Tolerance}}
  <div>Tolerance: ±<b>???</b>%</div>
  {{/Tolerance}}
</div>
</div>
