<div id="agentydragon-card">
<div id="agentydragon-content">
Name:<br>
{{Map}}

<hr id="answer" />

{{Name}}
<!--
{{#Info}}<br />{{Info}}{{/Info}}
{{#Area}}<br /><span class="attrs">Area: {{Area}}</span>{{/Area}}
{{#Length}}<br /><span class="attrs">Length: {{Length}}</span>{{/Length}}
{{#Discharge}}<br /><span class="attrs">Discharge: {{Discharge}}</span>{{/Discharge}}
{{#Depth}}<br /><span class="attrs">Depth: {{Depth}}</span>{{/Depth}}
-->
<br />

<a class="attrs" href="https://en.wikipedia.org/w/index.php?search={{Name}}">Wiki</a>
</div>
</div>
