<div id="agentydragon-card">
<div id="agentydragon-content">
  Translate color bands to digits:
  <div class="render-as-resistor color-bands-on digits-on" data-digits="{{Digits}}"></div>
</div>
</div>
