<div id="agentydragon-card">
<div id="agentydragon-content">
  <div>Resistance value: <b>{{Value}}</b></div>
  {{#Tolerance}}
  <div>Tolerance: ±<b>{{Tolerance}}</b>%</div>
  {{/Tolerance}}
  <div>Digit representation for resistor color code:</div>
  <div class="render-as-resistor color-bands-off question-marks" data-digits="{{Digits}}"></div>
</div>
</div>
