<div id="agentydragon-card">
<div id="agentydragon-content">
{{English}}{{#Part of Speech}}<sup class="attrs"> ({{Part of Speech}})</sup>{{/Part of Speech}}<br>
{{#Picture}}{{Picture}}<br>{{/Picture}}
{{#English Alternatives}}<div class="alts">{{English Alternatives}}</div>{{/English Alternatives}}
{{#English Hidden Alternatives}}<div class="alts">{{English Hidden Alternatives}}</div>{{/English Hidden Alternatives}}
</div>
</div>
