.card {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  font-size: 0.9em;
}
