@import "src/shared_styles/cloze";
@import "src/shared_styles/solarized";
@import "src/shared_styles/keyboard_shortcut";

$card-padding: 10px;

.card {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#content {
  // Override margin set in AnkiDroid's default style.
  // https://github.com/ankidroid/Anki-Android/blob/2bca8ade9197b59cbd38ef5d3076fc60c32dea84/AnkiDroid/src/main/assets/flashcard.css
  margin: 0 !important;
}

h1 {
  padding: $card-padding;
  margin: 0;
}

h2 {
  padding: $card-padding;
  margin: 0;
}

#agentydragon-content {
  padding: $card-padding;
}

hr {
  border: 0;
  height: 1px;
}

code, pre {
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
}

@mixin cardRebase($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3) {
  background-color: $rebase03;
  color: $rebase0;
  // h1, h2, h3, h4, h5, h6 { color: $rebase1; border-color: $rebase0; }
  a, a:active, a:visited { color: $rebase1; }

  h1 {
    color: $rebase2;
    background-color: $rebase02;
  }
  h2 {
    color: $rebase1;
    background-color: $rebase02;
  }
  hr {
    background-color: $rebase02
  }
}

.card {
  @include cardRebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
  margin: 0;
  padding: 0;
}

.card.night_mode {
  @include cardRebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
}

h1, h2 {
  font-weight: normal;
  font-size: 1.0em;
}

#agentydragon-log {
  font-family: monospace;
  text-align: left;
  font-size: 0.8;
  border: 1px solid #666;
  background-color: #ddd;
}

#agentydragon-log:empty {
  /* Hide the log if there's nothing in it. */
  display: none;
}

#agentydragon-log .error {
  color: red;
}

#agentydragon-heading, #agentydragon-deck, #agentydragon-tags,
#agentydragon-log-enabled, #agentydragon-seed, #agentydragon-type {
  display: none;
}
