<div id="agentydragon-card">
<div id="agentydragon-content">
<h1>LaTeX</h1>
<h2>Math environment</h2>
<pre>{{LaTeX}}</pre>
<!-- {{LaTeX}} (hack to make Anki not take the card as empty) -->
</div>
</div>
