<div id="agentydragon-card">
<div id="agentydragon-content">
<h1>LaTeX</h1>
<h2>Text mode</h2>
[latex]{{LaTeX}}[/latex]
<!-- {{LaTeX}} (hack to make Anki not take the card as empty) -->
</div>
</div>
