<style scoped>
html {
}

ul.resistor-bands li {
    display: inline-block;
    width: 1em;
    height: 1em;
}

// TODO: add some bands

.resistor-band-black { background: var(--c-black); color: white; }
.resistor-band-brown { background: var(--c-brown); color: white; }
.resistor-band-red { background: var(--c-red); color: white; }
.resistor-band-orange { background: var(--c-orange); color: black; }
.resistor-band-yellow { background: var(--c-yellow); color: black; }
.resistor-band-green { background: var(--c-green); color: white; }
.resistor-band-blue { background: var(--c-blue); color: white; }
.resistor-band-purple { background: var(--c-violet); color: black; }
.resistor-band-gray { background: var(--c-gray); color: white; }
.resistor-band-white { background: var(--c-white); color: black; }
</style>

{{c1::0::~digit~}} = {{c2::<span class="c-black">Black</span>::~color~}}
{{c1::1::~digit~}} = {{c2::<span class="c-brown">Brown</span>::~color~}}
{{c1::2::~digit~}} = {{c2::<span class="c-red">Red</span>::~color~}}
{{c1::3::~digit~}} = {{c2::<span class="c-orange">Orange</span>::~color~}}
{{c1::4::~digit~}} = {{c2::<span class="c-yellow">Yellow</span>::~color~}}
{{c1::5::~digit~}} = {{c2::<span class="c-green">Green</span>::~color~}}
{{c1::6::~digit~}} = {{c2::<span class="c-blue">Blue</span>::~color~}}
{{c1::7::~digit~}} = {{c2::<span class="c-violet">Violet</span>::~color~}}
{{c1::8::~digit~}} = {{c2::<span class="c-gray">Gray</span>::~color~}}
{{c1::9::~digit~}} = {{c2::<span class="c-white">White</span>::~color~}}

Green, blue, black, black, brown
560 ohms ±1%
Red, red, orange, gold
22000 ohms ±5%
Yellow, violet, brown, gold
470 ohms ±5%
Blue, grey, black, gold
68 ohms ±5%
First band - Brown, Second band - Black, Third band - Red, Fourth band - Gold,
1,000 ohms ±5% (1k Resistor[15])

<!-- from examples in https://en.wikipedia.org/wiki/Electronic_color_code -->
<ul class="resistor">
    <li class="c-green"></li>
    <li class="c-blue"></li>
    <li class="c-black"></li>
    <li class="c-black"></li>
    <li class="c-brown"></li>
</ul>

<table>
    <caption>
        resistor decimal coding
    </caption>
    <thead>
        <tr>
            <th>decimal value</th>
            <th>color</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>{{c1::<span style="background: #0a0a0a; color: white;">black</span>::~color~}}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{c1::<span style="background: #80542f; color: white;">brown</span>::~color~}}</td>
        </tr>
        <tr>
            <td>2</td>
            <td>{{c1::<span style="background: #ab2524; color: white;">red</span>::~color~}}</td>
        </tr>
        <tr>
            <td>3</td>
            <td>{{c2::<span style="background: #fa842b; color: black;">orange</span>::~color~}}</td>
        </tr>
        <tr>
            <td>4</td>
            <td>{{c2::<span style="background: #eec900; color: black;">yellow</span>::~color~}}</td>
        </tr>
        <tr>
            <td>5</td>
            <td>{{c2::<span style="background: #48a43f; color: white;">green</span>::~color~}}</td>
        </tr>
        <tr>
            <td>6</td>
            <td>{{c3::<span style="background: #2874b2; color: white;">blue</span>::~color~}}</td>
        </tr>
        <tr>
            <td>7</td>
            <td>{{c3::<span style="background: #83639d; color: black;">violet</span>::~color~}}</td>
        </tr>
        <tr>
            <td>8</td>
            <td>{{c3::<span style="background: #7e8b92; color: white;">gray</span>::~color~}}</td>
        </tr>
        <tr>
            <td>9</td>
            <td>{{c3::<span style="background: #e9e5ce; color: black;">white</span>::~color~}}</td>
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
            <th>tolerance</th>
            <th>tolerance band</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&plusmn; {{c1::20}}%</td>
            <td>{{c2::absent::~color~}}</td>
        </tr>
        <tr>
            <td>&plusmn; {{c1::10}}%</td>
            <td>{{c2::<span style="background: silver; color: black;">silver</span>::~color~}}</td>
        </tr>
        <tr>
            <td>&plusmn; {{c1::5}}%</td>
            <td>{{c2::<span style="background: gold; color: black;">gold</span>::~color~}}</td>
        </tr>
    </tbody>
</table>
