@import "shared_styles/card";

$resistorColors: (
    // index, name, background, foreground
    (0, 'black', #0A0A0A, white),
    (1, 'brown', #80542F, white),
    (2, 'red', #AB2524, white),
    (3, 'orange', #FA842B, black),
    (4, 'yellow', #EEC900, black),
    (5, 'green', #48A43F, white),
    (6, 'blue', #2874B2, white),
    (7, 'violet', #83639D, black),
    (8, 'gray', #7E8B92, white),
    (9, 'white', #E9E5CE, black),
    (G, 'gold', gold repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px,
    ), black),
    (S, 'silver', silver repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px,
    ), black),
    ('-', 'absent', inherit, inherit),
);

.render-as-resistor {
  text-align: center;
}

ul.resistor-bands {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-table;
  border-collapse: collapse;

  li {
    display: table-cell;
    border: 1px solid #ccc;
    font-size: 3em;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    text-align: center;
    font-family: "Ubuntu Mono", "Roboto Mono", monospace;
    font-weight: bold;
  }
}


.color-bands-on {
  @each $digit, $colorName, $color, $foreground in $resistorColors {
    .resistor-band-#{$digit} {
      background: $color;
    }
  }
}

.color-bands-off {
  @each $digit, $colorName, $color, $foreground in $resistorColors {
    .resistor-band-#{$digit} {
      // background: $color;
    }
  }
}

.color-bands-question li {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 20px,
  );
}

.digits-on li {
  // content: "";
}

.no-lettering {
  li span {
    display: none;
  }
}

.question-marks {
  li {
    span {
      display: none;
    }
    &:after {
      content: "?";
    }
  }
}


.color-bands-on.digits-on, .color-bands-on.question-marks {
  @each $digit, $colorName, $color, $foreground in $resistorColors {
    .resistor-band-#{$digit} {
      color: $foreground
    }
  }
}

// .field-resistance-value .shown {
//   &::before {
// 	  content: "Resistance value: ";
//   }
//   font-weight: bold;
// }
