<div id="agentydragon-card">
<div id="agentydragon-content">
<hr id=answer>
  <div class="field-resistance-value shown">{{Digits}}</div>
  <div class="field-color-bands shown">{{Value}}</div>
</div>
</div>
