<div id="agentydragon-card">
<div id="agentydragon-content">
  <div>Resistance value: <b>{{Value}}</b></div>
  {{#Tolerance}}
  <div>Tolerance: ±<b>{{Tolerance}}</b>%</div>
  {{/Tolerance}}
  <div>Translate to color stripes:</div>
  <div class="render-as-resistor color-bands-on digits-on" data-digits="{{Digits}}"></div>
</div>
</div>
