<div id="agentydragon-card">
<div id="agentydragon-content">

<table>
  <tr>
    <th colspan="2">
      <code>{{cloze:Method}}</code>
    </th>
  </tr>

  <tr>
    <th>Takes:</th>
    <td>{{cloze:Takes}}</td>
  </tr>

  <tr>
    <th>Effect:</th>
    <td>{{cloze:Effect}}</td>
  </tr>

  <tr>
    <th>Returns:</th>
    <td>{{cloze:Returns}}</td>
  </tr>
</table>

</div>
</div>
